@font-face {
    font-family: "Exo2.0";
    src: url("../fonts/Exo2.0-Thin.otf");
}

@font-face {
    font-family: "Trebuchet MS";
    src: url("../fonts/trebuchetms.ttf");
}
:root {
    --main-color : #1698D9;
    --action-color : #D91667;
    --hidden-color : #B3B3B3;
}

h1 {
    display: block;
    margin-top: 36px;
    font-family: "Exo2.0", sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%), url("../images/Pattern.png");
    padding-top: 36px;
}

.products-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.product-card {
    cursor: pointer;
    height: 500px;
    width: 320px;
    position: relative;
    background-color: #FFFFFF;
    border: 5px solid var(--main-color);
    border-radius: 15px;
    clip-path: polygon(0 40.00px,40.00px 0,100% 0,100% 100%,0 100%);
}

.card-image {
    position: absolute;
    box-sizing: content-box;
    bottom: 0px;
    border-radius: 10px;
}

.product-card::before {
    content: '';
    width: 101px;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    transform: rotate(315deg);
    left: -20px;
}

.card-weight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 406px;
    left: 224px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
}

.card-header {
    margin-top: 20px;
    font-family: "Exo2.0", sans-serif;
    font-size: 16px;
    color: #666666;
}

h2 {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 48px;
    color: #000000;
    font-weight: 700;
    margin-top: 5px;
}

h3 {
    margin-left: 60px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    margin-top: 5px;
}

.card-header {
    text-align: center;
}

.card-description {
    margin-top: 15px;
    margin-left: 60px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 700;
}
.card-weight > span {
    font-size: 42px;
}

.card-footer {
    margin-top: 14px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 400;
}

.buy {
    cursor: pointer;
    color: var(--main-color);
}

data {
    display: none;
}

.card-wrapper {
    margin: 20px;
}

.product-card.selected {
   border-color: var(--action-color);
}

.product-card.selected::before  {
    background-color: var(--action-color);
}

.product-card.selected .card-weight {
    background-color: var(--action-color);
}

.product-card.disabled{
    background-color: #F2F2F2;
}

.product-card.disabled .card-image {
    opacity: 0.5;
}

.product-card.disabled,.product-card.hidden::before  {
    border-color: var(--hidden-color);
}

.product-card.disabled .card-weight {
    background-color: var(--hidden-color);
}

.product-card.disabled::before  {
    background-color: var(--hidden-color);
}

.product-card.disabled h2,h3,.card-description,.card-header{
    color: #B3B3B3;
}

@media screen and (max-width: 1024px) {
    .products-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.hidden {
    display: none;
}

.description-ended {
    color: #FFFF66;
}

.block {
    display: block;
}

.description-selected,
.description-ended {
    display: none;
}

.product-card.selected + .card-footer > .description-default {
    display: none;
}

.product-card.selected + .card-footer > .description-selected {
    display: block;
}

.product-card.selected + .card-footer > .description-ended {
    display: none;
}


.product-card.disabled + .card-footer > .description-ended {
    display: block;
}

.product-card.disabled + .card-footer > .description-selected {
    display: none;
}

.product-card.disabled + .card-footer > .description-default {
    display: none;
}